{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
    Geographic challenges require users to find a specific location on a map. Points are awarded based on how close they get to the target location.
</div>
{% endblock %}

{% block value %}

<div class="form-group">
    <label for="value">Value<br>
        <small class="form-text text-muted">
            Points awarded for finding the correct location
        </small>
    </label>
    <input type="number" class="form-control" name="value" placeholder="Enter value" required>
</div>

{% include "plugins/geo_challenges/assets/partials/location_create.html" %}

{% endblock %}

{% block type %}
<input type="hidden" value="geo" name="type" id="chaltype">
{% endblock %}
