{% extends "admin/challenges/update.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
    Geographic challenges require users to find a specific location on a map. Points are awarded based on how close they get to the target location.
</div>
{% endblock %}

{% block value %}

<div class="form-group">
    <label for="value">Initial Value<br>
        <small class="form-text text-muted">
            Number of points awarded for finding the exact location
        </small>
    </label>
    <input type="number" class="form-control" name="value" value="{{ challenge.value }}" required>
</div>

{% include "plugins/geo_challenges/assets/partials/location_update.html" %}

{% endblock %}
